<div class="property-container">
  <div class="property-filter">
    <app-filter-box
      [label]="State"
      (filterValue)="typedVal($event)"
    ></app-filter-box>

    <app-filter-box
      [label]="City"
      (filterValue)="typedValTwo($event)"
    ></app-filter-box>

    <app-filter-box
      [label]="District"
      (filterValue)="typedValThree($event)"
    ></app-filter-box>
  </div>

  <div class="property-list-container">
    <app-property-card
      class="grid"
      [propertyList]="cardProperty"
    ></app-property-card>
  </div>
</div>
