<nav class="nav" [ngClass]="isCollapsed ? 'shrink' : ''">
  <div class="logo">
    <img
      (click)="toggleSideNav($event)"
      src="../../../../assets/icon/logo.svg"
      alt=""
    />
    <button *ngIf="!isCollapsed" (click)="toggleSideNav($event)">
      <span class="lnr lnr-menu"></span>
    </button>
  </div>
  <ul class="nav-list">
    <li *ngFor="let menu of navMenu" class="nav-item">
      <a routerLink="{{ menu.routerLink }}">
        <span class="{{ menu.icon }}"></span>
        <span class="menu-name" *ngIf="!isCollapsed">{{ menu.name }}</span>
      </a>
    </li>
  </ul>
</nav>
