.filter-box-wrapper {
  label {
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
  }
  select {
    outline: none;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    color: #333;
    padding: 8px 14px;
  }
}
